/* GENERAL STYLING*/
html {
    margin:0;
    height: 100%;
    width: 100%;}

body{
    margin:0;
    height:100%;
    max-width:100%;
    position: relative;
    line-height:1.6;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size:12px;
    background: #fff9eb;
    color:#2e2d2e;}


/* BANNER - GENERAL*/
#banner {
    min-height: 10%;
    width: 100%;
    background: #21225c;
    overflow: hidden;}
#bannerContent{
    max-width: 65%;
    margin: 0 auto;
    padding: 0 5em 0 5em;}


/* BANNER - TITLE*/
#siteTitle{
    padding: 1em 0 0.5em 0;
    font-size:3.5em;
    color:#fff9eb;}
#siteTitle a:link    { color:#fff9eb; text-decoration:none; }


/* BANNER - NAVIGATION*/
#navigation{
    float:left;
    padding: 0.3em 0 1em 0;
    font-size:2em;}
#navigation a{opacity:0.75;transition:0.2s;padding-right:2em}
#navigation a:link    { color:#fff9eb; text-decoration:none; }
#navigation a:visited { color:#dabaa9; text-decoration:none; }
#navigation a:hover{opacity:1.0}


/* BANNER - CONTACT*/
#contact{
    float:right;
    padding: 0.3em 0 1em 0;
    font-size:2em;}
#contact a{opacity:0.75;transition:0.2s;display:inline-block;padding-right:0.5em}
#contact a:link    { color:#fff9eb; text-decoration:none; }
#contact a:visited { color:#dabaa9; text-decoration:none; }
#contact a:hover{opacity:1.0}


/* CONTENT - GENERAL */
#contentWrapper{
    min-height:70rem;
    width:100%;
    background:#fff9eb}
#content{
    min-height:70rem;
    width: 65%;
    background:#fff9eb;
    margin: 0 auto;
    padding: 3em 5em 0 5em;}
h1,h2,h3{
    font-size:3em;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    line-height:1.2;
    color:#7c456b}
p{font-size:1.5em;}

#footer{
    background:#b47b7f;
    line-height:1.2;
    padding:0.5em 0 1em 0;}
#footer a{opacity:0.75;transition:0.2s;padding-right:2em;display:inline-block;}
#footer a:link    { color:#fff9eb; text-decoration:none; }
#footer a:visited { color:#dabaa9; text-decoration:none; }
#footer a:hover{opacity:1.0}


/* TO BE UPDATED WITH RULES FOR DIFFERENT SCREEN SIZES*/
@media only screen and (min-width : 300px) and (max-width : 389px) {
    .comment { max-width: 270px; overflow: hidden }
  }
  @media only screen and (min-width : 390px) and (max-width : 509px) {
    .comment { max-width: 350px; overflow: hidden }
  }
  @media only screen and (min-width : 510px) and (max-width : 599px) {
    .comment { max-width: 460px; overflow: hidden }
  }
  @media only screen and (min-width : 600px) and (max-width : 689px) {
    .comment { max-width: 540px; overflow: hidden }
  }
  @media only screen and (min-width : 690px) and (max-width : 809px) {
    .comment { max-width: 620px; overflow: hidden }
  }
  @media only screen and (min-width : 810px) and (max-width : 899px) {
    .comment { max-width: 730px; overflow: hidden }
  }
  @media only screen and (min-width : 900px) and (max-width : 1079px) {
    .comment { max-width: 810px; overflow: hidden }
  }
  @media only screen and (min-width : 1080px) and (max-width : 1169px) {
    .comment { max-width: 970px; overflow: hidden }
  }
  @media only screen and (min-width : 1170px) and (max-width : 1259px) {
    .comment { max-width: 1050px; overflow: hidden }
  }
  @media only screen and (min-width : 1260px) and (max-width : 1349px) {
    .comment { max-width: 1130px; overflow: hidden }

.rotate180 {
    -webkit-transform: rotate(180deg);  /* Chrome and other webkit browsers */
    -moz-transform:    rotate(180deg);  /* FF */
    -o-transform:      rotate(180deg);  /* Opera */
    -ms-transform:     rotate(180deg);  /* IE9 */
    transform:         rotate(180deg);  /* W3C complaint browsers */
  
    /* IE8 and below */
    -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=-1, M12=0, M21=0, M22=-1, DX=0, DY=0, SizingMethod='auto expand')";
}
  
/*
#21225c
#7c456b
#b47b7f
#dabaa9
#fff9eb*/