/* GENERAL STYLING*/
html {
    margin:0;
    height: 100%;
    width: 100%;}

body{
    margin:0;
    height:100%;
    max-width:100%;
    position: relative;
    line-height:1.6;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size:12px;
    background: #fff9eb;
    color:#2e2d2e;}


/* BANNER - GENERAL*/
#banner {
    min-height: 10%;
    width: 100%;
    background: #21225c;
    overflow: hidden;}
#bannerContent{
    max-width: 65%;
    margin: 0 auto;
    padding: 0 5em 0 5em;}


/* BANNER - TITLE*/
#siteTitle{
    padding: 1em 0 0.5em 0;
    font-size:3.5em;
    color:#fff9eb;}
#siteTitle a:link    { color:#fff9eb; text-decoration:none; }


/* BANNER - NAVIGATION*/
#navigation{
    float:left;
    padding: 0.3em 0 1em 0;
    font-size:2em;}
#navigation a{opacity:0.75;transition:0.2s;padding-right:2em}
#navigation a:link    { color:#fff9eb; text-decoration:none; }
#navigation a:visited { color:#dabaa9; text-decoration:none; }
#navigation a:hover{opacity:1.0}


/* BANNER - CONTACT*/
#contact{
    float:right;
    padding: 0.3em 0 1em 0;
    font-size:2em;}
#contact a{opacity:0.75;transition:0.2s;display:inline-block;padding-right:0.5em}
#contact a:link    { color:#fff9eb; text-decoration:none; }
#contact a:visited { color:#dabaa9; text-decoration:none; }
#contact a:hover{opacity:1.0}


/* CONTENT - GENERAL */
#contentWrapper{
    min-height:70rem;
    width:100%;
    background:#fff9eb}
#content{
    min-height:70rem;
    width: 65%;
    background:#fff9eb;
    margin: 0 auto;
    padding: 3em 5em 0 5em;}
h1,h2,h3{
    font-size:3em;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    line-height:1.2;
    color:#7c456b}
p{font-size:1.5em;}

#footer{
    background:#b47b7f;
    line-height:1.2;
    padding:0.5em 0 1em 0;}
#footer a{opacity:0.75;transition:0.2s;padding-right:2em;display:inline-block;}
#footer a:link    { color:#fff9eb; text-decoration:none; }
#footer a:visited { color:#dabaa9; text-decoration:none; }
#footer a:hover{opacity:1.0}


/* TO BE UPDATED WITH RULES FOR DIFFERENT SCREEN SIZES*/
@media only screen and (min-width : 300px) and (max-width : 389px) {

  }
  @media only screen and (min-width : 390px) and (max-width : 509px) {

  }
  @media only screen and (min-width : 510px) and (max-width : 599px) {

  }
  @media only screen and (min-width : 600px) and (max-width : 689px) {

  }
  @media only screen and (min-width : 690px) and (max-width : 809px) {

  }
  @media only screen and (min-width : 810px) and (max-width : 899px) {

  }
  @media only screen and (min-width : 900px) and (max-width : 1079px) {

  }
  @media only screen and (min-width : 1080px) and (max-width : 1169px) {

  }
  @media only screen and (min-width : 1170px) and (max-width : 1259px) {

  }
  @media only screen and (min-width : 1260px) and (max-width : 1349px) {
  
    }